@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom Classes */

body {
  margin: 0;
  overflow-x: hidden;
}

.z-neg {
  z-index: -1;
}

.top-25vh {
  top: 25vh;
}

.top-30 {
  top: -30px;
}

.bottom-4 {
  bottom: 2.5rem;
}

.laptop-bg {
  height: 600px;
  width: 800px;
}

.laptop-bg-slide {
  height: 21.25rem;
  margin-top: 2.375rem;
  width: 70%;
}

.sitting {
  bottom: 35px;
  left: 50px;
}

.bg-video {
  position: absolute;
  /* top: calc(50% - 35vh); */
  width: 100%;
  top: 0;
  /* left: 50%; */
  /* top: 50%; */
  height: 550px;
  object-fit: cover;
  /* transform: translate(-50%, -50%); */
  z-index: -2;
}

.min-width-25 {
  min-width: 450px;
}

/* .custom-shape-divider-top-1605383627 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: -1;
}

.custom-shape-divider-top-1605383627 svg {
	position: relative;
	display: block;
	width: calc(176% + 1.3px);
	height: 311px;
}

.custom-shape-divider-top-1605383627 .shape-fill {
	fill: #360167;
	opacity: 0.75;
}
			<div class="custom-shape-divider-top-1605383627">
				<svg
					data-name="Layer 1"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 1200 120"
					preserveAspectRatio="none"
				>
					<path
						d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
						class="shape-fill"
					></path>
				</svg>
			</div> */
.container {
  display: flex;
  margin: 0;
  background-color: rgba(247, 250, 252);
}

.services-left {
  margin-top: 15%;
  width: 50%;
  margin-left: 10%;
  margin-right: 5%;
}
.services-left h1 {
  display: inline-block;
  color: #a9a9a9;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-top: 40px;
}
.services-left p {
  text-align: left;
  padding: 5px;
}
.services-right {
  width: 50%;
  margin-top: 15%;
  margin-bottom: 200px;
  margin-right: 10%;
}

.first-column {
  display: flex;
  justify-content: space-between;
}
.second-column {
  display: flex;
  justify-content: space-between;
}
.service:hover {
  background: #ddd;
}
.service {
  padding: 25px;
}

.service h2 {
  color: #828282;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 1000;
  margin: 0;
}

.S-btn {
  border: 2px solid #e6e4e4;
  padding: 1%;
  margin-left: 35%;
  padding: 5px;
  margin-top: 10%;
  border-radius: 5px;
}
.projects {
  padding: 5%;
  background-color: rgba(247, 250, 252);
}
.projects h1 {
  color: #a9a9a9;
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-left: 10%;
}

.gallery {
  display: flex;
  justify-content: center;
  margin-left: 10%;
}
.item {
  padding: 5%;
}
.item img {
  width: 100%;
  height: 100%;
}
.item h2 {
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  color: #828282;
}

.item:hover {
  transform: scale(1.5);
}

.slider {
  margin-left: 5%;
  padding: 50px;
  justify-content: center;
}
.ServiceIcon {
  width: 30%;
  height: 30%;
  justify-content: center;
}

.contact-title h1 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}
.contact-content {
  padding: 25%;
  background-color: rgba(247, 250, 252);
}
.form-group {
  padding: 5px;
}

label {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
input {
  width: 50%;
  outline: none;
  border: 2px solid #e6e4e4;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  border-radius: 25px;
  transform: 0.3s;
}
textarea {
  margin-left: 50px;
  border: 2px solid #e6e4e4;
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow: auto;
}

.btn {
  border: 2px solid #e6e4e4;
  padding: 1%;
  margin-top: 10%;
  margin-left: 35%;
  border-radius: 5px;
}
